@(content: Html)

<!DOCTYPE html>

<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='@routes.Assets.at("css/app.css")' rel="stylesheet">
  </head>
  <body>
    @content

    <script src="@routes.Assets.at("javascripts/build/app.js")"></script>
  </body>
</html>
